{% block extra_head %}
<div id="header" class="fixed" style="top: 0px;">

     <div class="navbar navbar-inverse navbar-fixed-top">

      <div class="container">
      <h1 class="blog-title"><a href=/></h1>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <h2 class="navbar-brand" href="#">Jeremy Redd</h2>
        </div>
        
        <div class="collapse navbar-collapse">
          
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>

        </div><!--/.nav-collapse -->
        
        <div class="shadow" style="display: block;"><span></span></div>
      
      </div>
    
    </div>
</div>
{% endblock extra_head %}